{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
<div class="pt-3 text-center">
    <br>
        <h1>Accueil</h1>
    <br>    
        BIENVENU <br><span style="font-size: 3em; color: green;">{{ app.user.name }} !</span>

    <br>
    Les Annonces du jours !!!
    </div>
{% endblock %}