{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block body %}
<div class="pt-3 text-center">
    <h1>Accueil</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, eius, accusantium, molestiae possimus illo consequuntur nihil commodi error reprehenderit inventore maxime maiores perspiciatis necessitatibus laudantium eveniet vitae quam id pariatur.</p>
    <p>Labore, magni ad soluta dolores voluptate perspiciatis recusandae repudiandae saepe fuga porro. Facilis, ex eaque aliquid harum modi obcaecati itaque at quam eligendi ducimus. Incidunt architecto aut recusandae perspiciatis temporibus!</p>
    <p>Dolorum, accusamus, repellendus molestiae ducimus natus reprehenderit voluptatibus iusto saepe porro est alias nostrum commodi tempora assumenda maxime ipsa asperiores perspiciatis nesciunt consequuntur minus voluptates ut amet. Vel, consectetur, mollitia.</p>
</div>
{% endblock %}