{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}

    <div>
        <h1>Administration Le Petit Coin</h1>
        <p>Bienvenue</p>
        
            <a class="nav-link" href="{{ path('homepage') }}">Back to Site</a>
        
    </div>


{% endblock %}