{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
    <div class="mt-5 text-center">
    <h1 class="mb-5">Liste des annonces</h1>
        {% for announce in announces %}
        <div class="text-center border mx-auto my-2 w-50 bg-light">
            <h3><a class="text-dark" href="{{ path('announce.show', {slug: announce.slug}) }}">{{ announce.title }}</a></h3>
            <p>Cliquez sur le titre pour voir le contenu</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
