{% extends 'base.html.twig' %}

{% block title %}Une annonce{% endblock %}

{% block body %}
    <h1 class="mb-5 text-center">Détail de l'annonce</h1>
    <div class="mt-5 text-center">
        <div class="text-center border mx-auto my-2 w-50 bg-light">
            <h3>{{ announce.title }}</h3>
            <p>{{ announce.description }}</p>
            {% if (is_granted('ROLE_USER')) and (announce.user.id == app.user.id)  %}
            <button class="btn btn-danger mb-3"><a class="text-white text-decoration-none" href="{{ path('announces.delete', {id: announce.id}) }}">Supprimer</a></button>
            <button class="btn btn-primary mb-3"><a class="text-white text-decoration-none" href="{{ path('announces.update', {id: announce.id}) }}">Modifier</a></button>
            {% endif %}
        </div>
    </div>
    
{% endblock %}
